---
import EvroproektiProcedureSection from '../components/EvroproektiProcedureSection.astro';
import EvroproektiSupportSection from '../components/EvroproektiSupportSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Евро проекти | Солар Джи Пауър">
	<main>
		<EvroproektiProcedureSection />
		<EvroproektiSupportSection />
	</main>
</Layout>
