---
import Hero from '../components/Hero.astro';
import Info from '../components/Info.astro';
import Professionalism from '../components/Professionalism.astro';
import Features from '../components/Features.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="My Site">
  <main>
    <Hero />
    <Info />
    <Features />
    <Professionalism />
  </main>
</Layout>
