---
import KontaktiSection from '../components/KontaktiSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Контакти | Солар Джи Пауър">
	<main>
		<KontaktiSection />
	</main>
</Layout>
