---
import Layout from '../layouts/Layout.astro';
import ProektiProjectsSection from '../components/ProektiProjectsSection.astro';
---

<Layout title="Проекти | Солар Джи Пауър">
	<main>
		<ProektiProjectsSection />
	</main>
</Layout>
